<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    <!-- home画面を作成 -->
    <h1>Home</h1>
    <!-- URLリンクをリストとしてまとめる -->
    <ul>
        <li><a href="/flatTestMaker/settings/">Flat Test Maker Settings</a></li>
        <li><a href="/structuredTest/settings/">Structured Test Settings</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
    <form action="report/" method="get">
        <button type="submit">報告</button>
    </form>
</body>
</html>