/* プリンター設定用の微調整CSS */
body {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
}
.print-area {
    page-break-after: always;
    border: none;
    width: 100%; /* 印刷範囲の幅を設定 */
}
table {
    width: 100%;
    font-size: 12px; /* フォントサイズを小さくしてA4に収める */
}
th, td {
    padding: 4px; /* パディングを小さくしてA4に収める */
}